/* Block */
.code-editor {
    width: 100%; /* Adjust the width as needed */
    height: 700px; /* Adjust the height as needed */
}
.code-toolbar


/* Modifiers */
.btn {
    padding:10px;
    margin: 5px;
    background-color: #3498db;
    color: #0fff
    border: none;
    cursor: pointer;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.code-input {
    width: 100%;
    height: 80vh; /* Increase the height using viewport height (vh) units */
    font-size: 18px;
    padding: 10px;
}
